@layer components {
  .app {
    @apply flex min-h-screen flex-col;
  }

  .page {
    @apply flex flex-grow flex-col;
  }

  .container {
    @apply mx-auto w-full max-w-screen-2xl px-[5%] 2xl:px-20;
  }
}
